@import "@styles/variable.scss";

.profile-container {
    position: relative;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: space-between;

    @media screen and (max-width: $small) {
        flex-direction: row;
        justify-content: end;
    }
}

.logo {
    width: 131px;
    height: 40px;
    will-change: filter;
    transition: filter 300ms;

    @media screen and (max-width: $small) {
        flex-direction: row;
        display: none;
    }
}

.profile-image {
    width: 48px;
    height: 48px;
}