.profile-container {
    position: relative;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: space-between;
}

.logo {
    width: 131px;
    height: 40px;
    will-change: filter;
    transition: filter 300ms;
}

.profile-image {
    width: 48px;
    height: 48px;
}